::selection {
    background-color: #993CCF;
    color: #FFA937;
}

body {
    background-color: #383636;
}

.title {
    color: white;
    font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
    text-align: left;
    margin-left: 25px;
    font-size: 35px;
}